* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myTitle {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.myButton {
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
}

.myBoard {
  border: 1px solid black;
  width: 550px;
  height: 550px;
  margin: 1em;
}

.myBoardItem {
  display: flex;
}

.myBoardItemChild {
  border: 1px solid black;
}
